doctype html
html(lang="en")
  head
    title Edit Survey
    include /ios.pug
    include /mdl.pug
    include /common.pug
    link(rel='stylesheet', href='/dist/public/stylesheet/static-header.css')
    link(rel='stylesheet', href='/dist/public/node_modules/getmdl-select/getmdl-select.min.css')
    link(rel='stylesheet', href='/dist/public/node_modules/dialog-polyfill/dialog-polyfill.css')
    script(src='/dist/public/node_modules/dialog-polyfill/dialog-polyfill.js')
    script(src='/dist/public/studies/edit/index.js')
    script(src='/dist/public/studies/edit/consent/index.js')
    script var currentStudy = !{json};
    script.
      var noCompletion = function () {}
      var load = function () {
        getmdlSelect.init('.getmdl-select');
        document.addEventListener("DOMNodeInserted", function (ev) {
            componentHandler.upgradeDom();
        }, false);
        edit.showInfoForm();
      };
    style
      include ../index.css
      include index.css
      include consent/index.css
  body(onload='load()')
    .mdl-layout.mdl-js-layout
      include ../header.pug
      +header(true)
      span.sidebar
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/info", function() {edit.showInfoForm()})') Survey Information
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/icon", function() {edit.showIconForm()})') Icons
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/consent", function() {consent.showConsentNavigationCompletion()})') Consent Forms
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/tasks", noCompletion)') Survey Tasks
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/test", noCompletion)') Test
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/appstore", noCompletion)') App Store
      main.frame
        content(id='content')
          include info.pug
