.mdl-cell.step
  .statusbar Carrier &bull;&bull;&bull;&bull;&bull;
  .statusbar.clock 3:30 PM
  .statusbar.battery
    i.material-icons battery_std
  .content
    .title
    .summary
    img.centered(src=image)
    .more(style='color: rgb(127, 176, 255)') Clear
  .next
button.mdl-button.mdl-button--icon.mdl-button--accent.delete-step(action='#', onclick='edit.showDialog("step-delete-' + stepId + '")'): i.material-icons highlight_off
dialog.mdl-dialog.mdl-shadow--2dp(id='step-delete-' + stepId)
  h4.mdl-dialog__title Delete Step
  .mdl-dialog__content
    p Are you sure you want to delete this consent step?
    .mdl-dialog__actions
      button.mdl-button.mdl-button--colored.mdl-js-button.close(type='button') Cancel
      button.mdl-button.mdl-button--colored.mdl-js-button(type='button', onclick='consent.deleteStep("' + stepId + '")') Delete
script dialogPolyfill.registerDialog(document.getElementbyId("step-delete-#{stedId}"));
