script(src='/dist/public/node_modules/whatwg-fetch/fetch.js')
script(src='/dist/public/javascript/textcontent-polyfill.js')
script(src='/dist/public/node_modules/cookies-js/dist/cookies.min.js')
script(src='/dist/public/node_modules/url-search-params/build/url-search-params.js')
script var clientAuth = '#{clientAuth}';
