doctype html
html(lang="en")
  head
    title Surveys
    include /ios.pug
    include /mdl.pug
    include /common.pug
    link(rel='stylesheet', href='/dist/public/stylesheet/static-header.css')
    script(src='/dist/public/studies/index.js')
    style
      include index.css
  body
    .mdl-layout.mdl-js-layout
      include header.pug
      +header(false)
        ul.mdl-menu.mdl-menu--bottom.mdl-js-menu(for='extra')
          a(href='#', onclick='study.create()'): li.mdl-menu__item Create New Study
      main.mdl-layout__content
        if studies.length == 0
          h4.centered.no-studies-callout
            a(href='#', onclick='study.create()') No studies yet. Create one now!
        .mdl-grid
          each study in studies
            .mdl-cell
              .study-card.mdl-card
                a(href='/studies/' + study.id)
                  img.study-icon(src=study.icon)
                  h5= study.title
                  div
                    if study.task.steps.length == 0
                      span.blue.dot
                      span.dot-text Prepare consent document
                    else if study.participantIds.length == 0
                      span.blue.dot
                      span.dot-text Publish study
                    else
                      span.green.dot
                      span.dot-text Active
                  .study-text(style='padding-top: 5pt;') #{study.participant_ids.length} participants
