.mdl-layout__header {
  box-shadow: none;
  border-bottom: 1px solid rgb(217, 220, 226);
}
img.study-icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 120pt;
  height: auto;
}
.study-cell {
  margin-right: 60pt;
}
.study-card {
  min-width: 200pt;
  min-height: 230pt;
  padding: 15pt;
  border: 1px solid rgb(217, 220, 226);
}
.study-card h5 {
  font-weight: lighter;
}
.red {
  color: red;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.yellow {
  color: yellow;
}
.dot {
  font-size: 150%;
  vertical-align: middle;
}
.dot::after {
  content: '\25CF';
  padding-right: 4pt;
}
.dot-text {
  vertical-align: middle;
}
.study-text {
  font-size: 0.95em;
  opacity: 0.5;
}
.menu {
  cursor: context-menu;
}
.menu:hover, a li.mdl-menu__item:hover {
  color: rgb(127, 176, 255);
}
.chevron {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAYCAYAAAD+vg1LAAABE0lEQVR4Ae3UT0rDUBSF8UvAmToQ02qKViVo1YHuwNd1uBG3ILgMl+HfNTiwtjQ1jQbdhPoNzuAiEkwcCTnwo7Tv3cOFwovMZeHiM0Ef1kCKGAaL3EGP7lvcYRt1sod73KAD8xsvYRlbKt/BbzLQQonmF78XjxBQYlPlKapyoHvryDWf+WJTnjDEKzY0tIufcqhNu5jhRJ/mi33GulSgp+EBfI70ewcZAnJYVbGRKQLmSFSyr7NjXCHGxN1TKoqVTJs/Y03lp7jGKsYYooDVKTaVBszQxSVWMHL/hdUuVnJtPtX3R5WWsMbFSoGAM5W+wf5crLzgHO+wWsUf84cEfVgDKWIYLHIH7VvRvhXtW/Hv34ovmpTB87ZdMU0AAAAASUVORK5CYII=") top left;
}
.centered {
  text-align: center;
}
.no-studies-callout {
  margin-top: 50px;
}
.no-studies-callout a {
  font-weight: lighter;
}
