doctype html
html(lang="en")
  head
    title Create a new survey
    include /ios.pug
    include /mdl.pug
    include /common.pug
    script(src='/dist/public/join/index.js')
    style.
      .mdl-layout {
        align-items: center;
        justify-content: center;
      }
      .mdl-layout__content {
        padding: 24px;
        flex: none;
      }
  body
    .mdl-layout.mdl-js-layout.mdl-color--white-100
      main.mdl-layout__content
        .mdl-card.mdl-shadow--2dp
          .mdl-card__title.mdl-color--primary
            h2.mdl-card__title-text Create Survey
          form(action='', onsubmit='return formValidator.create()')
            .mdl-card__supporting-text
              .mdl-textfield.mdl-js-textfield
                input.mdl-textfield__input(type='text', id='username')
                label.mdl-textfield__label(for='username') Researcher username
                span.mdl-textfield__error(id='usererror') Username already exists!
              .mdl-textfield.mdl-js-textfield
                input.mdl-textfield__input(type='password', id='userpass', pattern='.{4,}' onfocus='formValidator.passwordFocus()')
                label.mdl-textfield__label(for='userpass') Password
                span.mdl-textfield__error(id='passerror') Minimum 4 characters, please!
            .mdl-card__actions.mdl-card--border
              .mdl-grid
                button.mdl-button.mdl-button--colored.mdl-js-button(onclick='formValidator.create()') Create
                span.mdl-layout-spacer
                button.mdl-button.mdl-button--colored.mdl-js-button(onclick='formValidator.login()') Log in
