p Which sensors should be running in the background while this task is shown?
p
  input(type='checkbox', name='sensors', value='gps', onchange='settings.toggleSensorEnabled("' + step.id + '", this)')
  | Location
  br
  input(type='checkbox', name='sensors', value='motion', onchange='settings.toggleSensorEnabled("' + step.id + '", this)')
  | Motion
  br
  input(type='checkbox', name='sensors', value='accel', onchange='settings.toggleSensorEnabled("' + step.id + '", this)')
  | Accelerometer
  br
  input(type='checkbox', name='sensors', value='gyro', onchange='settings.toggleSensorEnabled("' + step.id + '", this)')
  | Gyroscope
  br
  input(type='checkbox', name='sensors', value='audio', onchange='settings.toggleSensorEnabled("' + step.id + '", this)')
  | Audio recorder
  br
  input(type='checkbox', name='sensors', value='blescan', onchange='settings.toggleSensorEnabled("' + step.id + '", this)')
  | Bluetooth device scanner
  br
