.new-study-card {
  width: auto;
  height: auto;
  padding: 15pt;
}
.new-study-card h5 {
  font-weight: lighter;
}
.study-text {
  font-size: 0.95em;
  opacity: 0.5;
}
main.frame {
  position: absolute;
  top: 64px;
  left: 200px;
  bottom: 0;
  right: 0;
  margin: auto;
}
span.sidebar {
  border-right: 1px solid rgb(217, 220, 226);
  width: 200px;
  position: absolute;
  top: 64px;
  bottom: 0;
  margin: auto;
}
main content {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  padding-left: 24px;
  display: block;
  overflow: scroll;
}
.navigation-link {
  color: #424242;
  text-decoration: none;
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  opacity: .87;
}
.navigation-link {
  display: block;
  padding: 16px 40px;
  margin: 0;
  color: #757575;
}
.navigation-link {
  padding: 16px
}
.navigation-link:hover {
  background-color: #e0e0e0;
}
img.centered {
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.iconimg {
  display: block;
  width: 192px;
  height: 192px;
  margin-left: 24px;
}
.drop-container {
  position: fixed;
  top: 68;
  left: 204;
  right: -6;
  bottom: -6;
  margin: auto;
  z-index: -1;
  display: block;
}
.dropover {
  border: 3px dashed rgb(156, 166, 183);
  background-color: rgb(222, 226, 232);
}