h4 Survey Information
form(action='', onsubmit='return edit.readInfoForm()')
  p: .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    input.mdl-textfield__input(type='text', id='surveyname', pattern='.{1,}', onblur='edit.readInfoForm()')
    label.mdl-textfield__label(for='surveyname') Name
    span.mdl-textfield__error(id='surveyerror') Name cannot be empty!
  p: .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label.getmdl-select
    input.mdl-textfield__input(type='text', id='language', name='language', value='Choose Language', readonly, tabIndex='-1', data-val='none', onchange='document.getElementById("content").scrollTop = 0; edit.readInfoForm()')
    label.mdl-textfield__label(for='language') Language
    ul.mdl-menu.mdl-menu--bottom-left.mdl-js-menu(for='language')
      include language.pug
  p: .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    input.mdl-textfield__input(type='text', id='bundleid', pattern='[^ *.]+\\.[^ *]+', onblur='edit.readInfoForm()')
    label.mdl-textfield__label(for='bundleid') Bundle ID
    span.mdl-textfield__error(id='bundleid') Please use a reverse-domain name style string!
  p: .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
    input.mdl-textfield__input(type='text', id='sku', pattern='.+', onblur='edit.readInfoForm()')
    label.mdl-textfield__label(for='sku') SKU
    span.mdl-textfield__error(id='skuerror') SKU cannot be empty!
  button(style='opacity: 0')
