doctype html
html(lang="en")
  head
    title Edit Survey
    include /ios.pug
    include /mdl.pug
    include /common.pug
    link(rel='stylesheet', href='/public/stylesheet/static-header.css')
    link(rel='stylesheet', href='/node_modules/getmdl-select/getmdl-select.min.css')
    script(src='/src/studies/assets/getmdl-select.js')
    script(src='/src/studies/assets/nav.js')
    script var currentStudy = !{json};
    script(src='/src/studies/assets/edit.js')
    script.
      var noCompletion = function () {}
      var load = function () {
        getmdlSelect.init('.getmdl-select');
        document.addEventListener("DOMNodeInserted", function (ev) {
            componentHandler.upgradeDom();
        }, false);
        edit.showInfoForm();
      };
    style
      include studies.css
      include edit.css
  body(onload='load()')
    .mdl-layout.mdl-js-layout
      include header.pug
      +header(true)
      span.sidebar
        a.navigation-link(href='#' onclick='nav.setContent("/studies/info/' + survey.id + '", edit.showInfoForm)') Survey Information
        a.navigation-link(href='#' onclick='nav.setContent("/studies/icon/' + survey.id + '", edit.showIconForm)') Icons
        a.navigation-link(href='#' onclick='nav.setContent("/studies/consent/' + survey.id + '", noCompletion)') Consent Forms
      main.frame
        content(id='content')
          include edit.info.pug
