doctype html
html(lang="en")
  head
    title Edit Survey
    include /ios.pug
    include /mdl.pug
    include /common.pug
    link(rel='stylesheet', href='/public/stylesheet/static-header.css')
    link(rel='stylesheet', href='/node_modules/getmdl-select/getmdl-select.min.css')
    script(src='/node_modules/getmdl-select/getmdl-select.min.js', defer)
    script(src='/src/studies/assets/getmdl-select.js')
    script(src='/src/studies/assets/nav.js')
    style
      include studies.css
      include edit.css
  body
    .mdl-layout.mdl-js-layout
      include header.pug
      span.sidebar
        a.navigation-link(href='#' onclick='nav.setContent("/studies/info/' + surveyId + '")') Survey Information
        a.navigation-link(href='#' onclick='nav.setContent("/studies/icon/' + surveyId + '")') Icons
        a.navigation-link(href='#' onclick='nav.setContent("/studies/consent/' + surveyId + '")') Consent Forms
      main.frame
        content(id='content')
          include edit.info.pug
