doctype html
html(lang="en")
  head
    title Edit Survey
    include /ios.pug
    include /mdl.pug
    include /common.pug
    link(rel='stylesheet', href='/public/stylesheet/static-header.css')
    link(rel='stylesheet', href='/node_modules/getmdl-select/getmdl-select.min.css')
    link(rel='stylesheet', href='/node_modules/dialog-polyfill/dialog-polyfill.css')
    script(src='/node_modules/dialog-polyfill/dialog-polyfill.js')
    script
      include assets/getmdl-select.js
      include assets/nav.js
      include assets/edit.js
      include assets/header.js
    script var currentStudy = !{json};
    script.
      var noCompletion = function () {}
      var load = function () {
        getmdlSelect.init('.getmdl-select');
        document.addEventListener("DOMNodeInserted", function (ev) {
            componentHandler.upgradeDom();
        }, false);
        edit.showInfoForm();
      };
    style
      include assets/studies.css
      include assets/edit.css
  body(onload='load()')
    .mdl-layout.mdl-js-layout
      include header.pug
      +header(true)
      span.sidebar
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/info", edit.showInfoForm)') Survey Information
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/icon", edit.showIconForm)') Icons
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/consent", noCompletion)') Consent Forms
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/tasks", noCompletion)') Survey Tasks
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/test", noCompletion)') Test
        a.navigation-link(href='#' onclick='nav.setContent("/studies/' + survey.id + '/appstore", noCompletion)') App Store
      main.frame
        content(id='content')
          include edit.info.pug
