h4 Consent Forms
p.
  To create a consent document model, first decide how you want to present your consent
  document. Categorize your content into sections based on what information you present
  to users. After you have the structure for your consent document, you can replicate
  the same structure by adding consent document steps below.
button.mdl-button.mdl-button--colored.mdl-js-button(id='addstep') Add new step
ul.mdl-menu.mdl-menu--bottom-right.mdl-js-menu(for='addstep')
  a(href='#', onclick='edit.addConsentStep("overview")'): li.mdl-menu__item Overview
  a(href='#'): li.mdl-menu__item Data Gathering
  a(href='#'): li.mdl-menu__item Privacy
  a(href='#'): li.mdl-menu__item Data Use
  a(href='#'): li.mdl-menu__item Time Commitment
  a(href='#'): li.mdl-menu__item Study Survey
  a(href='#'): li.mdl-menu__item Study Tasks
  a(href='#'): li.mdl-menu__item Sharing Options
  a(href='#'): li.mdl-menu__item Withdrawing
  a(href='#'): li.mdl-menu__item Review
  a(href='#'): li.mdl-menu__item Signature
button.mdl-button.mdl-button--icon.mdl-button--accent(action='#', onclick='edit.showDialog("consent-info")'): i.material-icons help_outline
dialog.mdl-dialog(id='consent-info')
  h4.mdl-dialog__title Obtaining Consent
  .mdl-dialog__content
    p.
      Research studies that involve human subjects typically require some form of ethics
      review. Depending on the country, this may be review by an institutional review
      board (IRB), or by an ethics committee (EC). For some studies, consent may be required
      to conduct a research study, which means that the researcher must ensure that each
      participant is fully informed about the nature of the study, and must obtain a signed
      consent from each participant. Additionally, consent may be required as a condition
      of app review.
    p See the #[a(href='http://researchkit.org/docs/docs/InformedConsent/InformedConsent.html', target='_blank') ResearchKit guide] #[i.material-icons(style='font-size: 1em') launch] for further information.
    .mdl-dialog__actions
      button.mdl-button.mdl-button--colored.mdl-js-button.close(type='button') OK
  script dialogPolyfill.registerDialog(document.getElementbyId('consent-info'));
.mdl-grid(id='steps')
      
div(id='steps-models', style='display: none')
  div(id='overview')
