doctype html
html(lang="en")
  head
    title Surveys
    include /ios.pug
    include /mdl.pug
    include /common.pug
    link(rel='stylesheet', href='/public/stylesheet/static-header.css')
    script(src='/src/studies/assets/submit.js')
    style
      include studies.css
  body
    .mdl-layout.mdl-js-layout
      include ./header.pug
      main.mdl-layout__content
        .mdl-grid
          .mdl-cell
            .study-card.mdl-card.mdl-shadow--2dp
              a(href='#' onclick='study.create()')
                img.study-icon(src='/src/studies/assets/app-icon.png')
                h5 Create New Survey
                div
                  span.blue.dot
                  span.dot-text Start new survey
                .study-text(style='padding-top: 5pt;') No participants yet
          each study in studies
            .mdl-cell
              .study-card.mdl-card.mdl-shadow--2dp
                a(href='#')
                  img.study-icon(src=study.icon)
                  h5= study.title
                  div
                    if study.task.steps.length == 0
                      span.blue.dot
                      span.dot-text Prepare consent document
                    else if study.participantIds.length == 0
                      span.blue.dot
                      span.dot-text Publish study
                    else
                      span.green.dot
                      span.dot-text Active
                  .study-text(style='padding-top: 5pt;') #{study.participant_ids.length} participants
