a(href='#'): li.mdl-menu__item(data-val='zh-Hans') Chinese (Simplified)
a(href='#'): li.mdl-menu__item(data-val='zh-Hant') Chinese (Traditional)
a(href='#'): li.mdl-menu__item(data-val='da') Danish
a(href='#'): li.mdl-menu__item(data-val='nl-NL') Dutch
a(href='#'): li.mdl-menu__item(data-val='en-AU') English (Australia)
a(href='#'): li.mdl-menu__item(data-val='en-CA') English (Canada)
a(href='#'): li.mdl-menu__item(data-val='en-GB') English (U.K.)
a(href='#'): li.mdl-menu__item(data-val='en-US') English (U.S.)
a(href='#'): li.mdl-menu__item(data-val='fi') Finnish
a(href='#'): li.mdl-menu__item(data-val='fr-FR') French
a(href='#'): li.mdl-menu__item(data-val='fr-CA') French (Canada)
a(href='#'): li.mdl-menu__item(data-val='de-DE') German
a(href='#'): li.mdl-menu__item(data-val='el') Greek
a(href='#'): li.mdl-menu__item(data-val='id') Indonesian
a(href='#'): li.mdl-menu__item(data-val='it') Italian
a(href='#'): li.mdl-menu__item(data-val='ja') Japanese
a(href='#'): li.mdl-menu__item(data-val='ko') Korean
a(href='#'): li.mdl-menu__item(data-val='ms') Malay
a(href='#'): li.mdl-menu__item(data-val='no') Norwegian
a(href='#'): li.mdl-menu__item(data-val='pt-BR') Portuguese (Brazil)
a(href='#'): li.mdl-menu__item(data-val='pt-PT') Portuguese (Portugal)
a(href='#'): li.mdl-menu__item(data-val='ru') Russian
a(href='#'): li.mdl-menu__item(data-val='es-MX') Spanish (Mexico)
a(href='#'): li.mdl-menu__item(data-val='es-ES') Spanish (Spain)
a(href='#'): li.mdl-menu__item(data-val='sv') Swedish
a(href='#'): li.mdl-menu__item(data-val='th') Thai
a(href='#'): li.mdl-menu__item(data-val='tr') Turkish
a(href='#'): li.mdl-menu__item(data-val='vi') Vietnamese
